body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f2f2f2;
  color: #333;
}

.App, header, .logout-button, .main-content {
  text-align: center;
}

.nav-container {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 8px;
  max-width: 240px;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #333;
  transition: color 0.3s;
}

.nav-link i {
  margin-right: 8px;
}

.nav-link:hover {
  color: #ff5959;
}

.login-form button {
  padding: 10px;
  background-color: #ff5959;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.login-form button:hover {
  background-color: greenyellow;
}

.logout-button {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 8px 12px;
  font-size: 14px;
  background-color: rgba(255, 89, 89, 0.75);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.logout-button:hover {
  background-color: rgba(255, 89, 89, 1);
}

.main-content {
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.page-header-main {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
}

.page-header-main::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: 3px;
  background-color: #ff5959;
}

.modal {
  background: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
  max-width: 400px;
}

.modal-content {
  border-radius: 10px;
}

.modal-header {
  background-color: #ff5959;
  color: white;
  border-radius: 10px 10px 0 0;
}

.modal-body {
  padding: 20px;
}

.modal-footer {
  border-top: none;
  background-color: #f2f2f2;
  border-radius: 0 0 10px 10px;
}

.modal-footer button {
  border-radius: 5px;
}

.close {
  color: white;
  opacity: 1;
}

.close:hover {
  opacity: 0.8;
}

.todo-list-container {
  max-width: 600px;
  margin: 0 auto;
}

table {
  background-color: white;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #333;
  color: white;
}

button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #ff5959;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.canvas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.png-preview, .new-png-preview {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.image-effects-header {
  font-size: 20px;
  color: #333;
  margin-top: 20px;
}

.image-effects-explain {
  font-size: 14px;
  color: #6d6969;
  margin: 10px 0;
}

.algorithm-input-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
  background-color: #f7f7f7;
}

.algorithm-input-header {
  font-size: 16px;
  margin: 0;
  padding-bottom: 5px;
}

.algorithm-input-view {
  font-size: 14px;
  margin: 0;
  color: #666;
}

.generate-btn:hover {
  background-color: rgba(123, 111, 111, 0.75);
}

@media (max-width: 600px) {
  .logout-button {
    margin: 5px;
  }

  .main-content {
    margin-top: 3px;
  }
}