.App {
  text-align: center;
}

header {
  text-align: center;
}

.logout-button {
  position: fixed;
  top: 0;
  left: 0;
  margin: 10px;
}

.main-content {
  margin-top: 5px;
}

@media (max-width: 600px) {
  .logout-button {
    margin: 5px; /* Reduce margin for smaller screens */
  }

  .main-content {
    margin-top: 3px; /* Reduce margin for smaller screens */
  }
}